* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: "Rubik";
  background-color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: "Rubik Wet Paint";
  font-weight: 400;
  font-size: 2.25em;
}

.header {
  min-height: 50px;
  box-shadow: 0 1px 5px black;
}

.header-menu {
  padding: 1.25em 0;
}

.header-menu__container {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 40px;
  align-items: center;
}

.header-logo__img {
  transform: scale(1.5);
  transition: filter 0.5s;
}
.header-logo__img:hover {
  /* turning black color into #cc5500 (burnt orange) */
  filter: brightness(0) saturate(100%) invert(30%) sepia(83%) saturate(2499%)
    hue-rotate(20deg) brightness(96%) contrast(102%);
}

.header-navbar__list {
  margin: 0;
  display: flex;
  justify-content: center;
}

.header-navbar__link {
  display: block;
  padding: 1em 0.5em;
  color: black;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
  font-size: 1.125em;
  font-family: "Rubik Bubbles";
  position: relative;
  overflow: hidden;
  text-align: center;
}

.header-navbar__link.current {
  opacity: 1;
}

.header-navbar__link.current::after {
  content: "";
  position: absolute;
  width: 98%;
  height: 3px;
  right: 0;
  bottom: 0;
  background-color: #cc5500;
}

.header-navbar__link:hover,
.header-navbar__link:focus {
  opacity: 1;
  /* TODO:hover animation */
}
.header-navbar__link::after {
  content: "";
  position: absolute;
  width: 0;
  right: 50%;
  height: 3px;
  bottom: 0;
  transition: 0.5s ease-in-out;
  background-color: #cc5500;
}

.header-navbar__link:hover::after,
.header-navbar__link:focus::after {
  width: 98%;
  right: 0;
}

.main-content {
  margin-bottom: 100px;
}

.carousel {
  margin: 1em;
  position: relative;
}

.heading-accent {
  color: #cc5500;
  text-shadow: 0 0 4px black;
}

.slides {
  position: relative;
  padding: 0px;
  margin: 0px;
}

.slide {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  width: 1000px;
  height: 573px;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
  box-shadow: 3px 3px 30px black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.active {
  opacity: 1;
  z-index: 2;
}

.slide:nth-of-type(1) {
  background-image: url(../img/carousel-slide1.jpg);
}

.slide:nth-of-type(2) {
  background-image: url(../img/carousel-slide2.jpg);
}

.slide:nth-of-type(3) {
  background-image: url(../img/carousel-slide3.jpg);
}

.slide:nth-of-type(4) {
  background-image: url(../img/carousel-slide4.jpg);
}

.slide:nth-of-type(5) {
  background-image: url(../img/carousel-slide5.jpg);
}

.controls {
  position: relative;
  height: 573px;
}

.control {
  display: flex;
  position: absolute;
  cursor: pointer;
  user-select: none;
  z-index: 11;
  justify-content: center;
  transition: color 0.5s;
}

.control:hover {
  color: #cc5500;
}

.control--pause {
  top: 90%;
  right: 50%;
  transform: scale(2.5);
  color: black;
  opacity: 0.75;
}

.control--pause span {
  position: absolute;
  opacity: 0;
}

.control--next {
  top: 50%;
  transform: translateY(-50%) scale(2.5);
  right: 20%;
}

.control--prev {
  top: 50%;
  transform: translateY(-50%) scale(2.5);
  left: 20%;
}

.indicators {
  display: flex;
  position: absolute;
  top: 103%;
  right: 50%;
  transform: translateX(50%);
  gap: 0.625em;
}

.indicator {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #bbbbbb;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
  user-select: none;

  /* TODO: hover anim */
}

.indicator.active {
  background-color: black;
}

.footer {
  background-color: #e1e1e3;
  box-shadow: 0 -1px 5px black;
}

.footer__container {
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 20px 20px;
}

.footer-subs,
.footer-description {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.footer-subs,
.footer-description {
  margin-bottom: 60px;
}
.footer__heading {
  font-size: 30px;
  font-weight: 400;
  font-family: "Rubik";
  margin-right: 120px;
}

.footer-form {
  width: 25vw;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  /* border-bottom: 3px solid #bbbbbb; */
  position: relative;
  overflow: hidden;
  margin-left: 120px;
}

.footer-form::before {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  height: 3px;
  bottom: 0;
  background-color: #bbbbbb;
  transition: 0.7s ease-in-out;
}

.footer-form::after {
  content: "";
  position: absolute;
  width: 0;
  right: 50%;
  height: 3px;
  bottom: 0;
  background-color: #cc5500;
  transition: 0.7s ease-in-out;
}

.footer-form:focus-within:after {
  width: 100%;
  right: 0;
}

.footer-form:focus-within::before {
  width: 0;
  right: 50%;
}

.footer-form__email {
  font-size: 30px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 5px;
  /* position: relative;
  overflow: hidden; */
}

.footer-form__btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: transparent;
  width: fit-content;
  border: none;
  cursor: pointer;
  user-select: none;
  margin-left: 1em;
  transition: color 0.5s;
}

.footer-form__btn:hover,
.footer-form__btn:focus {
  color: #cc5500;
}

.fa-submit-icon {
  transform: scale(2);
}

.footer-description__content {
  margin: 0 120px 0 0;
  font-size: 18px;
}

.footer-media {
  margin-left: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-media__item {
  margin: 0.75em 0 0.75em 0;
}

.footer-media__link {
  font-size: 18px;
  color: black;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

.footer-media__link:hover,
.footer-media__link:focus {
  border-bottom-color: black;
}

.media-icon {
  transform: scale(1.5);
  color: black;
  transition: 0.5s;
}

.media-icon:hover,
.media-icon:focus {
  color: #cc5500;
}

.footer__copyright {
  text-align: center;
  color: black;
}
