* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: "Rubik";
  background-color: white;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: "Rubik Wet Paint";
  font-weight: 400;
  margin-top: 0;
}

.header {
  width: 100%;
  min-height: 100px;
  box-shadow: 0 1px 5px black;
  background-color: white;
  margin-bottom: 40px;
}

.header-menu {
  padding: 1.25em 0;
}

.header-menu__container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.header-logo {
  display: flex;
  position: relative;
}

.header-logo__img {
  transform: scale(1.5);
  transition: filter 0.5s;
}
.header-logo__img:hover {
  /* turning black color into #cc5500 (burnt orange) */
  filter: brightness(0) saturate(100%) invert(30%) sepia(83%) saturate(2499%)
    hue-rotate(20deg) brightness(96%) contrast(102%);
}

.header-logo__text {
  display: flex;
  position: absolute;
  top: 50%;
  left: 125%;
  transform: translateY(-50%);
  align-items: center;
  font-family: "Rubik Bubbles";
  font-size: 20px;
  padding-left: 0.75em;
}

.header-navbar__btn {
  position: relative;
  width: 30px;
  height: 22.5px;
  margin: 20px 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.header-navbar__btn-row {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  transition: 0.25s ease-in-out;
  transform: rotate(0deg);
  opacity: 1;
  border-radius: 3px;
  background: black;
}
.header-navbar__btn-row:nth-child(1) {
  top: 0;
}
.header-navbar__btn-row:nth-child(2),
.header-navbar__btn-row:nth-child(3) {
  top: 9px;
}
.header-navbar__btn-row:nth-child(4) {
  top: 18px;
}
.header-navbar__btn--active span:nth-child(1) {
  top: 9px;
  left: 50%;
  width: 0;
}
.header-navbar__btn--active span:nth-child(2) {
  transform: rotate(45deg);
}
.header-navbar__btn--active span:nth-child(3) {
  transform: rotate(-45deg);
}
.header-navbar__btn--active span:nth-child(4) {
  top: 9px;
  left: 50%;
  width: 0;
}

.header-navbar__link {
  display: block;
  padding: 1em 0.5em;
  color: black;
  opacity: 0.5;
  transition: 0.5s ease-in-out;
  font-size: 1.125em;
  font-family: "Rubik Bubbles";
  position: relative;
  overflow: hidden;
  text-align: center;
}

.header-navbar__link.current {
  opacity: 1;
}

.header-navbar__link.current::after {
  content: "";
  position: absolute;
  width: 96%;
  height: 3px;
  right: 0;
  bottom: 0;
  background-color: #cc5500;
}

.header-navbar__link:hover,
.header-navbar__link:focus {
  opacity: 1;
}
.header-navbar__link::after {
  content: "";
  position: absolute;
  width: 0;
  right: 50%;
  height: 3px;
  bottom: 0;
  transition: 0.5s ease-in-out;
  background-color: #cc5500;
}

.header-navbar__link:hover::after,
.header-navbar__link:focus::after {
  width: 96%;
  right: 0;
}

.main-content {
  margin-bottom: 80px;
}

.carousel {
  margin: 0 auto;
  position: relative;
}

.heading-accent {
  color: #cc5500;
  text-shadow: 0 0 4px black;
}

.slides {
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
  box-shadow: 3px 3px 30px black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.active {
  opacity: 1;
  z-index: 2;
}

.slide:nth-of-type(1) {
  background-image: url(../img/carousel-slide1.jpg);
}

.slide:nth-of-type(2) {
  background-image: url(../img/carousel-slide2.jpg);
}

.slide:nth-of-type(3) {
  background-image: url(../img/carousel-slide3.jpg);
}

.slide:nth-of-type(4) {
  background-image: url(../img/carousel-slide4.jpg);
}

.slide:nth-of-type(5) {
  background-image: url(../img/carousel-slide5.jpg);
}

.controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.control {
  display: flex;
  position: absolute;
  cursor: pointer;
  user-select: none;
  z-index: 11;
  justify-content: center;
  transition: color 0.5s;
}

.control:hover {
  color: #cc5500;
}

.control--pause {
  right: 50%;
  color: black;
  opacity: 0.75;
}

.control--pause span {
  position: absolute;
  opacity: 0;
}

.control--next {
  top: 50%;
  transform: translateY(-50%);
}

.control--prev {
  top: 50%;
  transform: translateY(-50%);
}

.indicators {
  display: flex;
  position: absolute;
  top: 105%;
  right: 50%;
  transform: translateX(50%);
  gap: 0.625em;
}

.indicator {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #bbbbbb;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
  user-select: none;

  /* TODO: hover anim */
}

.indicator.active {
  background-color: black;
}

.indicator:hover {
  background-color: #cc5500;
}

.footer {
  background-color: #e1e1e3;
  box-shadow: 0 -1px 5px black;
}

.footer__container {
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
}

.footer__heading {
  font-weight: 400;
  font-family: "Rubik";
}

.footer-form {
  max-width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  overflow: hidden;
}

.footer-form::before {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  height: 3px;
  bottom: 0;
  background-color: #bbbbbb;
  transition: 0.7s ease-in-out;
}

.footer-form::after {
  content: "";
  position: absolute;
  width: 0;
  right: 50%;
  height: 3px;
  bottom: 0;
  background-color: #cc5500;
  transition: 0.7s ease-in-out;
}

.footer-form:focus-within:after {
  width: 100%;
  right: 0;
}

.footer-form:focus-within::before {
  width: 0;
  right: 50%;
}

.footer-form__email {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 5px;
}

.footer-form__btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: transparent;
  width: fit-content;
  border: none;
  cursor: pointer;
  user-select: none;
  margin-left: 1em;
  transition: color 0.5s;
}

.footer-form__btn:hover,
.footer-form__btn:focus {
  color: #cc5500;
}

.footer-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-media__column-2,
.footer-media__column-3 {
  display: flex;
  justify-content: center;
}

.footer-media__item {
  margin: 0.75em 0 0.75em 0;
}

.footer-media__link {
  color: black;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

.footer-media__link:hover,
.footer-media__link:focus {
  border-bottom-color: black;
}

.media-icon {
  transform: scale(1.5);
  color: black;
  transition: 0.5s;
}

.media-icon:hover,
.media-icon:focus {
  color: #cc5500;
}

.footer__copyright {
  text-align: center;
  color: black;
}

@media (min-width: 1200px) {
  .carousel {
    width: 900px;
    height: 473px;
  }

  .control--pause {
    bottom: 12%;
    transform: scale(2.5);
  }

  .control--next {
    transform: scale(2.5);
  }

  .control--prev {
    transform: scale(2.5);
  }

  .footer-heading {
    margin-right: 85px;
  }

  .footer-form {
    margin-left: 85px;
  }

  .footer-description__content {
    margin: 0 120px 0 0;
  }

  .footer-media {
    margin-left: 120px;
  }
}

@media (max-width: 1199.8px) and (min-width: 992px) {
  .carousel {
    width: 750px;
    height: 323px;
  }

  .control--pause {
    bottom: 15%;
    transform: scale(2.3);
  }

  .control--next {
    transform: scale(2.3);
  }

  .control--prev {
    transform: scale(2.3);
  }

  .footer-heading {
    margin-right: 50px;
  }

  .footer-form {
    margin-left: 50px;
  }

  .footer-description__content {
    margin: 0 65px 0 0;
  }

  .footer-media {
    margin-left: 65px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.25em;
  }

  .header-menu__container {
    padding: 0 40px;
  }

  .header-navbar__list {
    justify-content: center;
  }

  .footer__container {
    padding: 80px 60px 20px;
  }

  .footer__heading {
    font-size: 1.875em;
  }

  .footer-form__email {
    font-size: 1.875em;
  }

  .fa-submit-icon {
    transform: scale(2);
  }

  .footer-description__content {
    font-size: 1.125em;
  }

  .footer-media__link {
    font-size: 1.125em;
  }
}

@media (max-width: 991.8px) {
  .footer__container {
    padding: 50px 30px 20px;
  }
}

@media (min-width: 768px) and (max-width: 991.8px) {
  h1 {
    font-size: 2em;
  }

  .carousel {
    width: 610px;
    height: 243px;
  }

  .control--pause {
    bottom: 18%;
    transform: scale(2.1);
  }

  .control--next {
    transform: scale(2.1);
  }

  .control--prev {
    transform: scale(2.1);
  }

  .header-navbar__list {
    justify-content: flex-end;
  }

  .footer-heading {
    margin-right: 30px;
  }

  .footer-form {
    margin-left: 30px;
  }

  .footer-form__email {
    font-size: 1.5em;
  }

  .fa-submit-icon {
    transform: scale(1.75);
  }

  .footer-description__content {
    margin: 0 45px 0 0;
  }

  .footer-media {
    margin-left: 45px;
  }

  .footer__heading {
    font-size: 1.5em;
  }

  .footer-description__content {
    font-size: 1em;
  }

  .footer-media__link {
    font-size: 1em;
  }

  .footer__copyright {
    font-size: 0.875em;
  }
}

@media (max-width: 767.8px) {
  .footer-form__email {
    font-size: 1.25em;
  }

  .fa-submit-icon {
    transform: scale(1.6);
  }

  .footer__heading {
    font-size: 1.25em;
  }

  .footer-description__content {
    font-size: 1em;
  }

  .footer-media__link {
    font-size: 1em;
  }

  .footer__copyright {
    font-size: 0.875em;
  }
  .header-navbar {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .header-navbar__list {
    position: absolute;
    top: 100%;
    right: 20px;
    display: none;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    box-shadow: -3px 3px 20px -10px black;
    z-index: 999;
  }
}

@media (min-width: 768px) {
  .header-navbar__btn {
    display: none;
  }

  .header-navbar__list {
    margin: 0;
    display: flex;
    position: relative;
  }
}

@media (max-width: 991.8px) {
  .header-menu__container {
    padding: 0 20px;
  }
}

@media (min-width: 576px) and (max-width: 767.8px) {
  h1 {
    font-size: 1.875em;
  }

  .carousel {
    width: 470px;
    height: 243px;
  }

  .control--pause {
    bottom: 18%;
    transform: scale(1.9);
  }

  .control--next {
    transform: scale(1.9);
  }

  .control--prev {
    transform: scale(1.9);
  }

  .footer-heading {
    margin-right: 30px;
  }

  .footer-form {
    margin-left: 30px;
  }

  .footer-description__content {
    margin: 0 45px 0 0;
  }

  .footer-media {
    margin-left: 45px;
  }
}

@media (min-width: 576px) {
  .footer-subs,
  .footer-description {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-bottom: 60px;
  }

  .control--prev {
    left: -7%;
  }

  .control--next {
    right: -7%;
  }
}

@media (max-width: 575.8px) {
  h1 {
    font-size: 1.5em;
  }

  .control--next {
    transform: scale(1.8);
    right: -10%;
  }

  .control--prev {
    transform: scale(1.8);
    left: -10%;
  }

  .footer-subs,
  .footer-description {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 20px;
  }

  .footer__heading {
    margin-bottom: 20px;
  }
}

@media (min-width: 445px) and (max-width: 575.8px) {
  .carousel {
    width: 350px;
    height: 243px;
  }

  .control--pause {
    bottom: 18%;
    transform: scale(1.9);
  }
}

@media (max-width: 444.8px) {
  .carousel {
    width: 250px;
    height: 180px;
  }

  .control--pause {
    bottom: 22%;
    transform: scale(1.9);
  }
}
